{
  "plugins": [
    "babel-plugin-external-helpers",
    "babel-plugin-transform-es2015-modules-commonjs",
    "babel-plugin-transform-async-to-generator",
    "babel-plugin-transform-runtime",
    "transform-object-rest-spread"
  ]
}